{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% load i18n %}
{% block content %}

<div class="h-full-page" id="employee">
            <div class="register-page flex-1">
                <div class="my-container lg:flex x2l:block justify-center">
                    <div class="register-card shadow-lg mt-4 mb-10 md:mt-16 flex bg-white h-auto x2l:h-250 w-auto lg:w-fit x2l:w-auto rounded-4xl">
                        <div class="sgin-in-section p-2 xl:p-10 lg:flex flex-col justify-center text-center bg-qitext text-white"
                             style="flex: 1 1 0%;"><h3
                                class="message text-3xl x2l:text-4xl font-extrabold font-roleway">{% trans 'Login' %}</h3>

                            <p class="login-tip font-normal px-2 x2l:px-10 my-5 font-roleway">{% trans 'To stay connected with us please login with your Qi email' %}</p>
                            <div class="px-8">
                                <div class="mt-5">
                                   <form method="post">
  {% csrf_token %}
  <button class="" type="submit"><img src="{% static 'images/ms-symbollockup_signin_light.svg' %}"></button>
</form>
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>


{% endblock %}
