{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% block head_title %}{% trans "Sign In" %}{% endblock %}
{% load i18n %}
{% block content %}
<div class="h-full-page" id="employee">
  <div class="sgin-in-section br-2 text-center qi-light text-white">
    <h3 class="message text-white text-3xl x2l:text-4xl font-extrabold font-roleway">{% trans 'Login' %}</h3>
    <p class="login-tip font-normal px-2 x2l:px-10 my-5 font-roleway">{% trans 'To stay connected with us please login with your Qi email' %}</p>
    <div class="px-8">
       <div class="mt-5">
           <form method="post">
            {% csrf_token %}
            <button class="" type="submit"><img src="{% static 'images/ms-symbollockup_signin_light.svg' %}"></button>
            </form>
       </div>
    </div>
  </div>
</div>
{% endblock %}
