{% extends "base.html" %}
{% block content %}
{% load static %}
{% load i18n %}

<div class="container_signIn">

        <div class="login-title">
        </div>
        {% for message in messages %}
        <div
          class="alert {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} alert-danger {% else %} alert-success {% endif %} fade show"
          role="alert">
          <strong>{{ message }}</strong>
        </div>
        {% endfor %}
        <form class="ant-form form_signIn" method="post" autocomplete="on">
          {% csrf_token %}
          <div class=" mb-3">
            <label for="inputEmail">{% trans 'Email' %}</label>
            <input type="email" name="email" id="inputEmail" class="form-control" required
              autofocus>

          </div>
          <div class="mb-3">
            <label for="inputPassword">{% trans 'Password' %}</label>
            <input type="password" name="password" id="inputPassword" class="form-control"
              required autocomplete="one-time-code">

          </div>
          {% for field in login_form %}
          {% for error in field.errors %}
          <div class="alert alert-danger" role="alert">{{ error }}</div>
          {% endfor %}
          {% endfor %}
          {% if error_login %}
          <div class="alert alert-danger" role="alert">{{ error_login }}</div>
          {% endif %}
          {% if login_form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            <p>{{login_form.non_field_errors}}</p>
          </div>
          {% endif %}
        <div class="text-center">
          <button class="btn btn-primary text-center" type="submit">{% trans 'Login' %}</button>
        </div>

{#          <a class="btn btn-primary" href="{% url 'password_reset' %}">{% trans 'Change Password' %}</a>#}
        </form>

      </div>


{% endblock content %}