{% extends "admin/base_site.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Set Password</h1>
        <form method="post" action="">
          {% csrf_token %}
          {{ form.as_p }}

          <div class="form-group">
            <button class="btn btn-primary" type="submit" name="apply">Set Password</button>
            <a href="javascript:history.back()" class="btn btn-secondary">Cancel</a>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}