:root {
    --qi-primary: #4F758B;
    --qi-secondary: #FFDD00;
    --qi-text: #fff;
}

.case {
    list-style-type: none;
}

.left {
    float: left;
}

.right {
    float: right;
}

.form {
    margin: auto;
}

.form input,
.form select,
.form textarea {
    border-radius: 5px;
    border: 1px solid #17a2b8;
    outline: none;
    background: none;
    padding: 5px;
    width: 100%;
}

.calendar {
    width: 98%;
    margin: auto;
    font-size: 13px;
    background-color: var(--qi-primary);
    color: var(--qi-text);
}

.calendar tr,
.calendar td {
    border: 1px solid black;
}

.calendar th {
    padding: 10px;
    text-align: center;
    font-size: 18px;
}

.calendar td {
    width: 70px;
    height: 50px;
    padding: 10px 0px 0px 5px;
}

.month {
    font-size: 25px;
}

.date {
    font-size: 16px;
    text-align: center !important;
}

ul {
    height: 100%;
    padding: 0px 5px 0px 20px;
}

a {
    color: #17a2b8;
}