{% load file_filters %}
<div class="alert alert-light p-1 fs-8 mb-0 fw-normal rounded-pill position-relative mx-1 w-fit {% if not value.is_active %}opacity-50{% else %}border border-secondary{% endif %}">
{% include 'includes/_user_with_photo.html' with value=value %}
  {% if value.id|is_user_online and value.is_active %}
    <div class="position-absolute m-1 top-0 start-0 translate-middle">
<i class="bi bi-circle-fill text-success fs-9"></i>
    </div>
    {% elif not value.id|is_user_online and value.is_active %}
       <div class="position-absolute m-1 top-0 start-0 translate-middle opacity-70">
<i class="bi bi-circle-fill text-secondary fs-9"></i>
    </div>
    {% endif %}
</div>