{% load static i18n %}
<nav class="navbar fixed-top navbar-expand-md qi-nav mt-3 qi-{% if CURRENT_LANGUAGE == 'en' %}e{% else %}a{% endif %}nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="#"><i class="fa fa-balance-scale" aria-hidden="true"></i> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> <a class="navbar-brand" href="#"><img src="{% static 'images/qilogo.svg' %}" width="40"
                height="40" alt="alternative"> </a></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}"><i class="bi bi-house"></i> {% trans 'Home' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cases_list' %}"><i class="bi bi-briefcase"></i> {% trans 'Cases' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tasks_list' %}"><i class="bi bi-list-task"></i> {% trans 'Tasks' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'hearings_list' %}"><i class="fa fa-gavel" aria-hidden="true"></i> {% trans 'Hearings' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'contracts_list' %}"><i class="fa fa-file-text-o" aria-hidden="true"></i> {% trans 'Contracts' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'notations_list' %}"><i class="bi bi-pen"></i> {% trans 'Notations' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'administrative_investigations_list' %}"><i class="fa fa-eercast" aria-hidden="true"></i> {% trans 'Administrative investigations' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'paths_list' %}"><i class="fa fa-folder" aria-hidden="true"></i> {% trans 'Paths' %}</a>
                </li>
              </ul>
              {% include 'includes/_notifications.html' %}
              <button class="nav-item nav-link dropdown-toggle bg-transparent" type="button" id="userDropdown" data-bs-toggle="dropdown" aria-expanded="false">
                {% include 'includes/_user_with_photo.html' with value=user %}
              </button>

            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="userDropdown">
              <li>
                <a class="dropdown-item user-item" href="{% url 'my_profile' %}">{% trans 'My Profile' %}</a>
                <a class="dropdown-item user-item" href="{% url 'account_logout' %}">{% trans 'Logout' %}</a>
              </li>
            </ul>
            </div>
          </div>
        </div>
      </nav>