{% load i18n %}
{% load static %}
{% load file_filters %}
{% load humanize %}
<div class="card shadow-sm p-3 mb-3" {% if user.enable_transision %} data-aos="zoom-in" data-aos-delay="100" {% endif %}>
<p class="pb-3">{% trans 'Comments' %}</p>
  <div class="edits-list overflow-auto develop-scroll mb-3" style="height:25vh;">
          {% for comment in comments %}
          <div data-show="true"  class="alert alert-secondary alert-no-icon" role="alert" style="margin-bottom: 10px;">
            <div class="alert-content">
              <div class="alert-message">
              <div class="w-full mb-2">
                <div class="breif">
                <div class="flex items-start justify-between">
                  <div class="items-center gap-1 flex-wrap" style="flex: 5 1 0%;">
                    <h4 class="mb-3">{{ comment.comment }}</h4>
                    <h6 class="text-muted fs-8" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ comment.created_at|date:"Y-m-d h:i:s a" }}">{% include 'includes/_user_with_photo.html' with value=comment.created_by %} - {{ comment.created_at|naturaltime }}</h6>
                  </div>
                </div>
              </div>
              </div>
                {% for reply in comment.replies.all %}
                  <div class="reply-section pb-1">
                  <div data-show="true" class="alert alert-light " role="alert">
                  <div class="alert-content">
              <div class="alert-message">
              <h4 class="mb-3">{{ reply.reply }}</h4>
                    <h6 class="text-muted fs-8" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ reply.created_at|date:"Y-m-d h:i:s a" }}">{% include 'includes/_user_with_photo.html' with value=reply.created_by %} - {{ reply.created_at|naturaltime }}</h6>
                  </div>
                  </div>
                  </div>
                  </div>
                  {% endfor %}
              <div class="reply-section" id="comment_{{ comment.id }}">
                 <form method="post" action="{% url 'new_comment_reply' comment_id=comment.id %}">
                   <input type="hidden" id="url" name="url" value="">
                          {% csrf_token %}
                   <div class="input-group">
                      <input class="form-control" id="content" name="content" placeholder="{% trans 'Reply' %}" required>
                      <button class="input-group-text btn qi-primary" type="submit">{% trans 'Submit' %}</button>
                   </div>
                    </form>
              </div>
            </div>
            </div>
          </div>
            {% empty %}
            <div class="alert alert-light p-3 text-center">{% trans 'No data available' %}</div>
    {% endfor %}
  </div>
    <form method="post" action="{% url obj_new_comment obj_id %}">
      {% csrf_token %}
      <div class="input-group">
        <textarea rows="3" class="form-control" id="content" name="content" placeholder="{% trans 'Comment' %}" required></textarea>
        <button class="input-group-text btn qi-primary" type="submit">{% trans 'Submit' %}</button>
      </div>
</form>
</div>
<script>
  $(document).ready(function () {
    document.querySelectorAll('[id=url]').forEach(element=>
    element.value = document.URL
  );
  });
</script>