<!DOCTYPE html>
{% load static i18n file_filters %}
{% with CURRENT_LANGUAGE=user.language %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
<html lang="{{CURRENT_LANGUAGE}}" dir="{% if CURRENT_LANGUAGE == 'en' %}ltr{% else %}rtl{% endif %}">
{% include 'includes/_base_header.html' %}

<style>
        .page {
            margin-bottom: 2rem;
            background: rgba(255,255,255,0.5);
            padding: 1rem;
            border: 1px solid #dee2e6;
            border-radius: 0.5rem;
            box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.05);
        }
        .page img {
            width: 100%;
            height: auto;
            display: block;
        }
    </style>
<body data-bs-theme="{% if user.is_authenticated %}{{ user.theme_color }}{% else %}light{% endif %}">
    <div class="container py-5">
        <h2 class="text-center mb-4"><i class="bi {{ doc.attachment.url|file_icon }}"></i>{{ doc.name }}</h2>
        {% for image in images %}
            <div class="page">
                <img src="{{ image.url }}" alt="Page {{ forloop.counter }}">
            <div class="text-center">{% trans 'Page' %}: {{ forloop.counter }}</div>
            </div>
        {% endfor %}
    </div>
<script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
</body>
</html>
{% endwith %}