{% load i18n file_filters %}
<table class="table {% if paths|length > 0 %} table-hover {% endif %} shadow-sm" {% if user.enable_transition %}
       data-aos="zoom-in" {% endif %}>
  <thead {% if user.enable_transition %} data-aos="zoom-in" {% endif %}>
  <tr class="bg-gray-100">
    <td class="pt-3 pb-3 text-bold"></td>
    <td class="pt-3 pb-3 text-bold">{% trans 'Name' %}</td>
    {% if not obj_id %}
    <td class="pt-3 pb-3 text-bold">{% trans 'Related' %}</td>
    {% endif %}
    <td class="pt-3 pb-3 text-bold">{% trans 'Document Count' %}</td>
    <td class="pt-3 pb-3 text-bold">{% trans 'Actions' %}</td>
  </tr>
  </thead>
  <tbody>
  {% include 'includes/_paths_loop.html' with paths=paths count=count %}
  </tbody>
</table>

<script>
$(document).ready(function () {
document.querySelectorAll("#upload-files").forEach(function(button) {
  button.addEventListener("click", function() {
    let pathId = this.getAttribute("data-path-id");
    let form = document.getElementById("upload-form");
    let url = document.getElementById("url");
    const actionUrl = "{% url 'new_path_docs' '1' %}";
    const updatedUrl = actionUrl.replace(/(\/paths\/)\d+(\/new_docs)/, `$1${pathId}$2`);
    url.value = document.URL;
    console.log('path_id', pathId);
    form.action = updatedUrl;
    console.log('action', form.action);
    let upload_file_model = new bootstrap.Modal(document.getElementById('NewDocs'), {
      keyboard: false
    })
    upload_file_model.show();
  });
});
document.querySelectorAll('.delete-path').forEach(function(button) {
  button.addEventListener('click', function() {
    const pathId = this.getAttribute('data-path-id');
    const actionUrl = "http://localhost:8090/ar/paths/9999/";
    const updatedUrl = actionUrl.replace(/(\/paths\/)\d+/, `$1${pathId}`);
    if (confirm('{% trans 'Are you sure you want to delete?' %}')) {
      fetch(updatedUrl, {
        method: 'POST',
        headers: {
          'X-CSRFToken': '{{ csrf_token }}',
          'Content-Type': 'application/json'
        },
        body: JSON.stringify({})
      })
      .then(response => response.json())
      .then(data => {
        if (data.success) {
          window.location.reload();
        } else {
          alert('Error: ' + data.message);
        }
      })
      .catch(error => {
        console.error('Error:', error);
        alert('{% trans 'An error occurred while deleting.' %}');
      });
    }
  });
});
document.querySelectorAll(".collapse").forEach(function (collapseEl) {
      let pathId = collapseEl.id.split("_").pop();
      let icon = document.getElementById("folder-icon-" + pathId);

      function fadeSwapIcon(icon, removeClass, addClass) {
    if (!icon) return;

    icon.classList.add("fade-out"); // Start fade out

    setTimeout(() => {
      icon.classList.remove(removeClass);
      icon.classList.add(addClass);
      icon.classList.remove("fade-out"); // Fade back in
    }, 150); // Wait half the transition time before switching
  }


      collapseEl.addEventListener("show.bs.collapse", function () {
        fadeSwapIcon(icon, "fa-folder", "fa-folder-open");
      });
      collapseEl.addEventListener("hide.bs.collapse", function () {
         fadeSwapIcon(icon, "fa-folder-open", "fa-folder");
      });
    });

});
</script>