{% load i18n %}
{% load file_filters %}
{% load static %}
<div class="row mx-0">
  <div class="card shadow-sm p-3 mb-3" {% if user.enable_transition %} data-aos="zoom-in" {% endif %}>
    <p class="pb-3">{% trans 'Files and documents related to the case' %}
      <button class="btn btn-sm qi-primary" data-bs-toggle="modal" data-bs-target="#NewPath"><i class="bi bi-folder-plus"></i>
      </button>
    </p>
    <table class="table {% if paths|length > 0 %} table-hover {% endif %} shadow-sm" {% if user.enable_transition %}
           data-aos="zoom-in" {% endif %}>
      <thead {% if user.enable_transition %} data-aos="zoom-in" {% endif %}>
      <tr class="bg-gray-100">
        <td class="pt-3 pb-3 text-bold"></td>
        <td class="pt-3 pb-3 text-bold">{% trans 'Sequence' %}</td>
        <td class="pt-3 pb-3 text-bold">{% trans 'Name' %}</td>
        <td class="pt-3 pb-3 text-bold">{% trans 'Document Count' %}</td>
        <td class="pt-3 pb-3 text-bold">{% trans 'Actions' %}</td>
      </tr>
      </thead>
      <tbody>
      {% for path in paths %}
      {% if not path.is_deleted %}
        <tr {% if user.enable_transition %} data-aos="zoom-in" data-aos-delay="{{ forloop.counter }}00" {% endif %}>
          <td class="pt-2 pb-2">
            <button data-bs-toggle="collapse" data-bs-target="#parent_case_{{ path.id }}" aria-expanded="false"
                    aria-controls="parent_path_{{ path.id }}" style="cursor: pointer" class="fs-6"><i class="fa {% if path.documents.all|length == 0 %}fa-folder text-secondary{% else %}fa-folder text-warning{% endif %}"
      id="folder-icon-{{ path.id }}" aria-hidden="true"></i></button>
          </td>
          <td class="pt-2 pb-2">{{ forloop.counter }}</td>
          <td class="pt-2 pb-2 text-bold">{{ path.name|truncatechars:20 }}</td>
          <td class="pt-2 pb-2">{{ path.documents.all|length }}</td>
          <td class="pt-2 pb-2">
                <button class="btn btn-sm qi-primary" data-path-id="{{ path.id }}" id="upload-files"><i class="bi bi-file-earmark-arrow-up"></i></i>
      </button>
            {% if user.is_manager or user.is_superuser %}
              <button class="btn btn-sm btn-danger delete-path" data-path-id="{{ path.id }}"><i
                class="bi bi-trash3-fill"></i></button>
            {% endif %}
          </td>
        </tr>
        {% for doc in path.documents.all %}
          <tr class="collapse qi-light" id="parent_case_{{ path.id }}">
            <td></td>
            <td class="pt-2 pb-2">{{ forloop.counter }}</td>
            <td class="pt-2 pb-2"><a class="btn btn-primary btn-sm" href="{{ doc.attachment.url }}" target="_blank"
                                     data-bs-toggle="tooltip" data-bs-placement="top" title="{{ doc.name }}"><i
              class="bi {{ doc.attachment.url|file_icon }}"></i> {{ doc.name|truncatechars:35 }} </a></td>
            <td class="pt-2 pb-2">{{ doc.created_at|date:"Y-m-d" }}</td>
            <td class="pt-2 pb-2">
              {% if user.is_manager or user.is_superuser %}
                <button class="btn btn-sm btn-danger delete-task" data-task-id="{{ doc.id }}"><i
                  class="bi bi-trash3-fill"></i></button>

              {% endif %}
            </td>

          </tr>

        {% endfor %}
        {% endif %}
      {% empty %}
        <tr>
          <td class="p-3 text-center" colspan="13"><i
            class="bi bi-inbox-fill"></i> {% trans 'No data available in table' %}</td>
        </tr>

      {% endfor %}
      </tbody>
    </table>
  </div>
</div>

<div class="modal fade modal-lg" id="NewPath" tabindex="-1" aria-labelledby="New Path" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="NewPath">{% trans 'New Path' %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url new_path obj_id %}" method="post">
        {% csrf_token %}
        <div class="modal-body">
          <input type="text" class="form-control" name="name" id="name" placeholder="{% trans 'Path Name' %}"
                 aria-label="Path Name" required>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade modal-lg" id="NewDocs" tabindex="-1" aria-labelledby="New Docs" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="NewPath">{% trans 'Upload Documents' %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <form action="{% url 'new_path_docs' 9999 %}" id="upload-form" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="hidden" name="url" id="url" value="">
        <div class="modal-body">
          <input type="file" class="form-control" name="attachments" id="attachments" placeholder="{% trans 'Documents' %}"
                 aria-label="Path Name" required multiple>
        </div>
        <div class="modal-footer">
          <button type="submit" class="btn btn-primary">{% trans 'Submit' %}</button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    document.querySelectorAll("#upload-files").forEach(function(button) {
      button.addEventListener("click", function() {
        let pathId = this.getAttribute("data-path-id");
        let form = document.getElementById("upload-form");
        let url = document.getElementById("url");
        const actionUrl = "http://localhost:8090/ar/paths/9999/new_docs";
        const updatedUrl = actionUrl.replace(/(\/paths\/)\d+(\/new_docs)/, `$1${pathId}$2`);
        url.value = document.URL;
        console.log('path_id', pathId);
        form.action = updatedUrl;
        console.log('action', form.action);
        let upload_file_model = new bootstrap.Modal(document.getElementById('NewDocs'), {
          keyboard: false
        })
        upload_file_model.show();
      });
    });
    document.querySelectorAll('.delete-path').forEach(function(button) {
      button.addEventListener('click', function() {
        const pathId = this.getAttribute('data-path-id');
        const actionUrl = "http://localhost:8090/ar/paths/9999/";
        const updatedUrl = actionUrl.replace(/(\/paths\/)\d+/, `$1${pathId}`);
        if (confirm('{% trans 'Are you sure you want to delete?' %}')) {
          fetch(updatedUrl, {
            method: 'POST',
            headers: {
              'X-CSRFToken': '{{ csrf_token }}',
              'Content-Type': 'application/json'
            },
            body: JSON.stringify({})
          })
          .then(response => response.json())
          .then(data => {
            if (data.success) {
              window.location.reload();
            } else {
              alert('Error: ' + data.message);
            }
          })
          .catch(error => {
            console.error('Error:', error);
            alert('{% trans 'An error occurred while deleting.' %}');
          });
        }
      });
    });
    document.querySelectorAll(".collapse").forEach(function (collapseEl) {
          let pathId = collapseEl.id.split("_").pop();
          let icon = document.getElementById("folder-icon-" + pathId);
          collapseEl.addEventListener("show.bs.collapse", function () {
            if (icon) {
              icon.classList.remove("fa-folder");
              icon.classList.add("fa-folder-open");
            }
          });
          collapseEl.addEventListener("hide.bs.collapse", function () {
            if (icon) {
              icon.classList.remove("fa-folder-open");
              icon.classList.add("fa-folder");
            }
          });
        });
  });
</script>