{% load file_filters i18n %}
{% load static %}
<section class="px-5">
<div class="table-responsive">
<table class="table table-hover shadow-sm" {% if user.enable_transition %}data-aos="zoom-in"{% endif %}>
  <thead>
    <tr class="bg-gray-100 fw-bold">
      {% for header in headers %}
        <td class="pt-3 pb-3 text-bold qi-light">{{ header }}</td>
      {% endfor %}
    </tr>
  </thead>
  <tbody>
    {% if objs|length <= 0 %}
      <tr>
        <td colspan="{{ headers|length }}" class="text-center p-5">
          <i class="bi bi-inbox-fill"></i> {% trans 'No data available in table' %}
        </td>
      </tr>
    {% else %}
      {% for obj in objs %}
        <tr class="table-row bg-white" {% if user.enable_transition %}data-aos="zoom-in" data-aos-delay="{{ forloop.counter }}00"{% endif %}>
          {% for field in fields_to_show %}
  <td class="pt-2 pb-2">
    {% with value=obj|attr:field %}
      {% if field == 'name' or field == 'subject' or field == 'title' %}
        <a {% if value|length > 30 %} data-bs-toggle="tooltip" data-bs-placement="left" title="{{ value }}" {% endif %} href="{% url obj_view obj.id %}">{{ value|truncatechars:30 }}</a>
      {% elif field == 'created_at' or field == 'start_date' or field == 'end_date' or field == 'end_time' %}
        {{ value|date:"Y-m-d" }}
      {% elif field == 'case_category' %}
        {% if value == "Public" %}
          <div class="alert alert-light p-1 fs-8 mb-0 fw-normal rounded-pill border-success text-success">
          <i class="bi bi-globe"></i><span> {% trans value %}</span>
          </div>
        {% elif value == "Private" %}
          <div class="alert alert-light p-1 fs-8 mb-0 fw-normal rounded-pill border-danger text-danger">
          <i class="bi bi-lock"></i><span> {% trans value %}</span>
          </div>
        {% endif %}
      {% elif field == 'cases' %}
        {% if value.all %}
          {% for case in value.all %}
                <a href="{% url 'case_view' case.id %}">{{ case|truncatechars:40 }}</a>
        {% endfor %}
          {% endif %}
      {% elif field == 'assignee' %}
        {% if value.all %}
           <div class="flex">
          {% for assignee in value.all %}
            {% include 'includes/_alert_user.html' with value=assignee %}
        {% endfor %}
           </div>
        {% else %}
          {% if value %}
        {% include 'includes/_alert_user.html' with value=value %}
            {% endif %}
          {% endif %}
      {% elif field == 'case_status' or field == 'hearing_status' or field == 'task_status' %}
        {% if value %}
          {% include 'includes/_status_with_icon.html' with value=value %}
        {% endif %}
      {% elif field == 'priority' %}
        {% if value %}
          {% include 'includes/_priority_with_icon.html' with value=value %}
        {% endif %}
        {% elif field == 'auto_renewal' %}
                  {% if value == False %}<i class="bi bi-x-circle-fill text-danger"></i>{% else %}<i class="bi bi-check-circle-fill text-success"></i>{% endif %}
      {% else %}
        {{ value|default:"" }}
      {% endif %}

    {% endwith %}
  </td>
{% endfor %}
          <td class="pt-2 pb-2">
          {% include "includes/_action_buttons.html" with obj_edit=obj_edit obj=obj user=user %}
          </td>
        </tr>
      {% endfor %}
    {% endif %}
  </tbody>
</table>
</div>
</section>
