{% load i18n %}
{% load static %}
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'css/select2-bootstrap-5-theme.min.css' %}" rel="stylesheet">
<form method="GET">
  <div class="card shadow-sm m-5 mb-3 mt-3" {% if user.enable_transition %}data-aos="zoom-in"{% endif %}>
    <div class="card-body">
      <div class="row g-3">
        {% for field in filters %}
          <div class="col-md">
              {% if field.type == "text" %}
                <label for="{{ field.name }}">{{ field.label }}</label>
                <input type="text"
                       class="form-control"
                       id="{{ field.name }}"
                       name="{{ field.name }}"
                       placeholder="{{ field.label }}"
                       value="{{ field.value|default:'' }}">

              {% elif field.type == "select" %}
                 <label for="{{ field.name }}">{{ field.label }}</label>
                <select class="form-select select2"
                        id="{{ field.name }}"
                        name="{{ field.name }}"
                        onchange="this.form.submit()">
                  <option value="0">{% trans 'All' %}</option>
                  {% for option in field.options %}
                    <option value="{{ option.id }}"
                      {% if option.id|stringformat:"s" == field.value|stringformat:"s" %}selected{% endif %}>
                      {{ option.name }}
                    </option>
                  {% endfor %}
                </select>

              {% endif %}
          </div>
        {% endfor %}

        <!-- Record Count Field -->
        <div class="col-md">
        <label for="number_of_records">{% trans 'Number of records' %}</label>
            <select class="form-control"
                    id="number_of_records"
                    onchange="this.form.submit()"
                    name="number_of_records"
                    aria-label="number_of_records">
              <option value="10" {% if session.number_of_records == 10 %}selected{% endif %}>{% trans '10 records' %}</option>
              <option value="25" {% if session.number_of_records == 25 %}selected{% endif %}>{% trans '25 records' %}</option>
              <option value="50" {% if session.number_of_records == 50 %}selected{% endif %}>{% trans '50 records' %}</option>
            </select>

        </div>

        <!-- Buttons -->
        <div class="col-md mt-4 text-center">
          <div class="start-50">
            <button type="submit" name="search" value="search" class="btn btn-warning">
              <i class="bi bi-search"></i> {% trans 'Search' %}
            </button>
            <button type="submit" name="clear" value="clear" class="btn btn-danger text-dark">
              <i class="bi bi-x-circle-fill"></i> {% trans 'Clear' %}
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
  <script src="{% static 'js/jquery.min.js' %}"></script>
  <script src="{% static 'js/select2.min.js' %}"></script>