<!DOCTYPE html>
<html>
<head>
    <title>ONLYOFFICE Editor</title>
</head>
<style>
  body {
      height: 100vh;
      margin: 0;
      padding: 0;
      width: 100vw;
  }
</style>
<body>
    <div id="editor"></div>

    <script src="http://172.18.228.59:8030/web-apps/apps/api/documents/api.js"></script>
   <script>
var docEditor = new DocsAPI.DocEditor("editor", {
    document: {
      title: "{{ filename }}",
      url: "https://static.onlyoffice.com/assets/docs/samples/demo.docx",
      fileType: "docx",
      key: "docx-2",  // just needs to be unique per file
    },
    documentType: "word",
    editorConfig: {
      mode: "edit",  // use "view" if you want read-only
      user: {
        id: "1",
        name: "Django User"
      },

    },
    width: "100%",
    height: "100%"
  });

</script>
</body>
</html>
