<!DOCTYPE html>
{% load i18n %}
{% get_current_language as CURRENT_LANGUAGE %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
{% load static %}

<html lang="{{CURRENT_LANGUAGE}}" dir="{% if CURRENT_LANGUAGE == 'en' %}ltr{% else %}rtl{% endif %}">
<head>
    <!-- Primary Meta Tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% trans 'ISC Legal App' %}</title>
    <meta name="title"
        content="{% trans 'ISC Legal App' %}">
    <meta name="description"
        content="{% trans 'ISC Legal App' %}">
    <meta name="keywords"
        content="{% trans 'ISC Legal App' %}">
    <meta name="author" content="Saif AlKhateeb">
    <link rel="shortcut icon" href="{% static 'images/qilogo.svg' %}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" href="{% static 'images/apple-touch-icon.png' %}">

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website">
    <meta property="og:url" content="http://isclegal.qi.iq/en/">
    <meta property="og:title"
        content="{% trans 'ISC Legal App' %}">
    <meta property="og:description" content="{% trans 'ISC Legal App' %}">
    <meta property="og:image" content="{% static 'images/details-2-background.jpg' %}">

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="http://isclegal.qi.iq/en/">
    <meta property="twitter:title"
        content="{% trans 'ISC Legal App' %}">
    <meta property="twitter:description" content="{% trans 'ISC Legal App' %}">
    <meta property="twitter:image" content="{% static 'images/details-2-background.jpg' %}">

    <!-- CSS links -->
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    {% comment %} <link rel="stylesheet" type="text/css" href="{% static 'css/cstyle.css' %}?v=1.4.3"> {% endcomment %}


  <link rel="stylesheet" type="text/css" href="{% static 'css/qi-colors.css' %}?v=0.0.9">
    {% if CURRENT_LANGUAGE == 'en' %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    {% else %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.rtl.min.css' %}">
    {% endif %}
    <link href="{% static 'css/fontawesome-all.css' %}" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'icon/font-awesome/css/font-awesome.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/legal.css' %}?v=0.0.9">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body class="d-flex flex-column h-100">
{% if user.is_authenticated %}
    <nav class="navbar navbar-expand-md qi-light mt-3 qi-{% if CURRENT_LANGUAGE == 'en' %}e{% else %}a{% endif %}nav">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/qilogo.svg' %}" width="40"
                height="40" alt="alternative"> </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="offcanvas offcanvas-end qi-light" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
              <h5 class="offcanvas-title" id="offcanvasNavbarLabel"> <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/qilogo.svg' %}" width="40"
                height="40" alt="alternative"> </a></h5>
              <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
              <ul class="navbar-nav flex-grow-1 pe-3">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'home' %}">{% trans 'Home' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'cases_list' %}">{% trans 'Cases' %}</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">{% trans 'About' %}</a>
                </li>
              </ul>
              <form class="d-flex">
                <select class="form-select me-2" aria-label="Default select" onchange="location = this.value;">
                    <option value="/en/{{request.get_full_path|slice:"4:"}}" {% if CURRENT_LANGUAGE == 'en' %}selected{% endif %}>English</option>
                    <option value="/ar/{{request.get_full_path|slice:"4:"}}" {% if CURRENT_LANGUAGE == 'ar' %}selected{% endif %}>العربيّة</option>
                  </select>
                    <a class="btn btn-light text-nowrap" href="{% url 'logout' %}">{% trans 'Logout' %}</a>
              </form>
            </div>
          </div>
        </div>
      </nav>
{% endif %}
{% block content %}{% endblock %}

      <footer class="footer py-3 qi-light fixed-bottom justify-content-center align-items-center border-top">
        <div class="container">
        <div class="col-md-4 d-flex align-items-center">
            <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'images/qilogo.svg' %}" width="30"
                height="30" alt="alternative">  </a> 
            <span class="mb-3 mb-md-0 text-white">  ISC © 2022 Company, Inc</span>
          </div>
        </div>
      </footer>

    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}?v=1.1"></script>
    <script src="{% static 'js/swiper.min.js' %}"></script>
    <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{% static 'js/jquery.ajaxchimp.js' %}"></script>
    <script src="{% static 'js/jquery.countTo.js' %}"></script>
    <script src="{% static 'js/jquery.inview.min.js' %}"></script>
    <script src="{% static 'js/jquery.easypiechart.min.js' %}"></script>
    <script src="{% static 'js/jquery-ui.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/tinymce/tinymce.min.js' %}"></script>
    <script src="{% static 'js/isotope.min.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</body>
</html>