{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load i18n %}
{% load static %}
{% load file_filters %}
{% load humanize %}
{% block content %}
<link href="{% static 'css/select2.min.css' %}" rel="stylesheet">
<link href="{% static 'css/select2-bootstrap-5-theme.min.css' %}" rel="stylesheet">
<style>
    input, select {
        width: 100%
    }
</style>
<div class="content m-5">
  <div class="row mb-50">
    <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
      <form method="post">
            {% include "includes/_form_buttons.html" with obj_status=obj_status obj_create_url=obj_create.url obj_edit=obj_edit obj_id=obj.id objs_list=objs_list %}
        {% csrf_token %}
        <table class="form form-table">
          <div class="card shadow-sm p-3" {% if user.enable_transition %} data-aos="zoom-in-left" {% endif %}>
          <p class="pb-3"><i class="bi bi-info-circle"></i> {% trans 'Basic Information' %}</p>
          {% bootstrap_form form %}
          </div>
        </table>
      </form>
    </div>

    {% if mode == "edit" or mode == "view" %}
      <div class="col-sm-12 col-md-12 col-lg-4">
        {% if obj.ImportantDevelopment %}
        {% include 'includes/_important_developments_list.html' with new_ImportantDevelopment=new_ImportantDevelopment obj_id=obj.id ImportantDevelopments=obj.ImportantDevelopment.all %}
        {% endif %}
      {% if obj.comments %}
        {% include 'includes/_comments_list.html' with obj_new_comment=obj_new_comment obj_id=obj.id comments=obj.comments.all %}
        {% endif %}
      </div>
      <div class="col-sm-12 col-md-12 col-lg-4">
        {% if obj.paths %}
        {% include "includes/_paths_obj_list.html" with new_path=new_path obj_id=obj.id paths=obj.paths.all user=user %}
        {% endif %}
        {% if obj.documents %}
            {% include 'includes/_docs.html' with docs=obj.documents.all %}
        {% endif %}
      {% if obj.payments %}
            {% include "includes/_payments.html" with payments=obj.payments.all user=user %}
        {% endif %}
      {% if obj.tasks %}
            {% include "includes/_tasks.html" with obj=obj.tasks.all user=user %}
        {% endif %}
        </div>
      </div>
    {% endif %}
  </div>


{% include "includes/_obj_history.html" with obj=obj logs=logs %}
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/select2.min.js' %}"></script>
<script src="{% static 'js/obj.js' %}"></script>
{% endblock %}