{% extends "base.html" %}
{% load i18n %}
{% block content %}
{% load static %}
{% with CURRENT_LANGUAGE=user.language %}
{% get_available_languages as AVAILABLE_LANGUAGES %}
{% get_language_info_list for AVAILABLE_LANGUAGES as languages %}
<section>
  <div class="container py-5">
    <div class="row">
      <div class="col-lg-4">
        <div class="card mb-4 shadow-sm">
          <div class="card-body text-center d-grid justify-content-center align-items-center">
            <img src="{{ user.photo.url }}" alt="avatar"
              class="rounded-circle img-fluid" style="width: 150px;">
            <h5 class="my-3">{{ user.username }}</h5>
            <p class="text-muted mb-1">{% if user.is_superuser or user.is_manager %}{% trans 'Manager' %}{% else %}{% trans 'Employee' %}{% endif %}</p>
          </div>
        </div>
        <div class="card mb-4 mb-lg-0 shadow-sm">
          <div class="card-body">
            <div class="row mb-1">
              <div class="col-sm-4">
                <p class="mb-0">{% trans 'Full Name' %}</p>
              </div>
              <div class="col-sm-8">
                <p class="text-muted mb-0">{{ user.username }}</p>
              </div>
            </div>
            <hr>
            <div class="row mb-1">
              <div class="col-sm-4">
                <p class="mb-0">{% trans 'Email' %}</p>
              </div>
              <div class="col-sm-8">
                <p class="text-muted mb-0">{{ user.email }}</p>
              </div>
            </div>
            <hr>
            <div class="row mb-1">
              <div class="col-sm-4">
                <p class="mb-0">{% trans 'Last Login' %}</p>
              </div>
              <div class="col-sm-8">
                <p class="text-muted mb-0">{{ user.last_login }}</p>
              </div>
            </div>
            <hr>
            <div class="row mb-1">
              <div class="col-sm-4 mt-2">
                <p class="mb-0">{% trans 'Language' %}</p>
              </div>
              <div class="col-sm-8 mt-1">
                {% include 'includes/_languages_selection.html' %}
              </div>
            </div>
            <hr>
            <div class="row mb-1">
              <div class="col-sm-4 mt-2">
                <p class="mb-0">{% trans 'Theme' %}</p>
              </div>
              <div class="col-sm-8 mt-1">
                {% include 'includes/_select_theme.html' %}
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-8">
        <div class="card mb-4 mb-md-0">
              <div class="card-body shadow-sm">
                <p class="mb-4">{% trans 'Status Overview' %}</p>
                <p class="mb-1" style="font-size: .77rem;"><i class="bi bi-briefcase"></i> {% trans 'Cases' %} ({{ cases.count_all }})</p>
                <div class="progress-stacked">
                  <div class="progress" role="progressbar" aria-label="Segment New" aria-valuenow="{{ cases.count_new }}" aria-valuemin="0" aria-valuemax="{{ cases.count_all }}" style="width: {{ cases.count_new_per }}%">
                    <div class="progress-bar">{{ cases.count_new }}</div>
                  </div>
                  <div class="progress" role="progressbar" aria-label="Segment Progress" aria-valuenow="{{ cases.count_progress }}" aria-valuemin="0" aria-valuemax="{{ cases.count_all }}" style="width: {{ cases.count_progress_per }}%">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning">{{ cases.count_progress }}</div>
                  </div>
                  <div class="progress" role="progressbar" aria-label="Segment Done" aria-valuenow="{{ cases.count_done }}" aria-valuemin="0" aria-valuemax="{{ cases.count_all }}" style="width: {{ cases.count_done_per }}%">
                    <div class="progress-bar bg-success">{{ cases.count_done }}</div>
                  </div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;"><i class="bi bi-list-task"></i> {% trans 'Tasks' %} ({{ tasks.count_all }})</p>
                <div class="progress-stacked">
                  <div class="progress" role="progressbar" aria-label="Segment New" aria-valuenow="{{ tasks.count_new }}" aria-valuemin="0" aria-valuemax="{{ tasks.count_all }}" style="width: {{ tasks.count_new_per }}%">
                    <div class="progress-bar">{{ tasks.count_new }}</div>
                  </div>
                  <div class="progress" role="progressbar" aria-label="Segment Progress" aria-valuenow="{{ tasks.count_progress }}" aria-valuemin="0" aria-valuemax="{{ tasks.count_all }}" style="width: {{ tasks.count_progress_per }}%">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning">{{ tasks.count_progress }}</div>
                  </div>
                  <div class="progress" role="progressbar" aria-label="Segment Done" aria-valuenow="{{ tasks.count_done }}" aria-valuemin="0" aria-valuemax="{{ tasks.count_all }}" style="width: {{ tasks.count_done_per }}%">
                    <div class="progress-bar bg-success">{{ tasks.count_done }}</div>
                  </div>
                </div>
                <p class="mt-4 mb-1" style="font-size: .77rem;"><i class="bi bi-list-task"></i> {% trans 'Hearings' %} ({{ hearings.count_all }})</p>
                <div class="progress-stacked">
                  <div class="progress" role="progressbar" aria-label="Segment New" aria-valuenow="{{ hearings.count_new }}" aria-valuemin="0" aria-valuemax="{{ hearings.count_all }}" style="width: {{ hearings.count_new_per }}%">
                    <div class="progress-bar">{{ hearings.count_new }}</div>
                  </div>
                  <div class="progress" role="progressbar" aria-label="Segment Progress" aria-valuenow="{{ hearings.count_progress }}" aria-valuemin="0" aria-valuemax="{{ hearings.count_all }}" style="width: {{ hearings.count_progress_per }}%">
                    <div class="progress-bar progress-bar-striped progress-bar-animated bg-warning">{{ hearings.count_progress }}</div>
                  </div>
                  <div class="progress" role="progressbar" aria-label="Segment Done" aria-valuenow="{{ hearings.count_done }}" aria-valuemin="0" aria-valuemax="{{ hearings.count_all }}" style="width: {{ hearings.count_done_per }}%">
                    <div class="progress-bar bg-success">{{ hearings.count_done }}</div>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</section>
  {% endwith %}
{% endblock %}